<div class="fondDerriereTableau">
    <br>
    <h2>
        <span class="bandeauGaucheTitre">&ensp;&ensp;Employes</span>
        <!--<button class="btn btn-primary float-right jh-create-entity create-employe" [routerLink]="['/', { outlets: { popup: ['employe-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span  jhiTranslate="progestoApp.employe.home.createLabel">-->
            <!--Create new Employe-->
            <!--</span>-->
        <!--</button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employesAvecMs">
        <table class="table table-striped">
            <thead>
            <tr height="" style="background-color: #187299; color: white;">
                <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
                <th class="center">Login</th>
                <th class="center">Nb jours dispo<br>M</th>
                <!--<th><span jhiTranslate="progestoApp.tache.nomTache">Nom de l'ingénieur</span></th>-->
                <!--<th><span jhiTranslate="progestoApp.tache.descriptionTache">Prénom de l'ingénieur</span></th>-->
                <th class="center">Nb jours dispo<br>M + 1</th>
                <th class="center">Nb jours dispo<br>M + 2</th>
                <!--<th><span jhiTranslate="progestoApp.tache.joursVendusTache">Jours Vendus Tache</span></th>-->
                <!--<th><span jhiTranslate="progestoApp.tache.projetMere">Projet Mere</span></th>-->

                <th></th>


                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employesAvecM of employesAvecMs ;trackBy: trackId" class="colorationLigne">
                <!--<td><a [routerLink]="['../tache', tache.id ]">{{participant.id}}</a></td>-->
                <!--<td>{{employesAvecM.id}}</td>-->
                <td class="center">{{employesAvecM.userLogin}}</td>
                <!--<td>{{tache.descriptionTache}}</td>-->
                <!--<td>{{tache.debutTache | date:'mediumDate'}}</td>-->
                <!--<td>{{tache.finTache | date:'mediumDate'}}</td>-->
                <!--les champs ci dessous devront etre recupere via des api. il ne s'agira pas de champs angular-->
                <!--<td><input readonly value="{{nombreDeJoursAttribuesVar}}"></td>-->
                <td class="center"><input type="text" class="center" [(ngModel)]="employesAvecM.countM" ></td>
                <td class="center"><input  type="text"  class="center" [(ngModel)]="employesAvecM.countMplus1" readonly></td>
                <td class="center"><input  type="text"  class="center" [(ngModel)]="employesAvecM.countMplus2" readonly></td>
                <!--<td>-->
                <!--<div *ngIf="tache.projetMere">-->
                <!--<a [routerLink]="['../projet', tache.projetMere?.id ]" >{{tache.projetMere?.nomProjet}}</a>-->
                <!--</div>-->
                <!--</td>-->

                <!--ci dessous, je fais appel a un eventuel component-->
                <!--<td>-->
                <!--<button-collapse-component [personnesNonAffectees]="personnesNonAffectees"></button-collapse-component>-->
                <!--</td>-->


                <!--ic dessous, on voit l'anvien bouton que j'ai supprime , pour l'inserer dans mon nouveau componnet: button-collapse-component-->
                <td class="center"><button type="button" class="btn btn-outline-success">Consulter planning</button></td>

                <!--<input id="button" type="button" value="Click"><br>-->
                <!--<div id="fn" hidden>First Name : <input type="text" /></div><br>-->
                <!--<div id="ln" hidden>Last Name : <input type="text" /></div>-->

                <!--<div class="row">-->
                <!--<button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">-->
                <!--horizontal collapse-->
                <!--</button>-->
                <!--<div id="demo" class="collapse show width">-->
                <!--<div style="width:400px;">-->
                <!--<p>Works smoother when element has defined width. Egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <!--ci dessus, j'ai enlenve la partie [routerLink]="['../tacheAffectation', tacheParProjet.id ]" du boutton car ca ne correspond pas a ce que je desire-->
                <!--<td class="text-right">-->
                <!--<div class="btn-group flex-btn-group-container">-->
                <!--<button type="submit"-->
                <!--[routerLink]="['../tache', tache.id ]"-->
                <!--class="btn btn-info btn-sm">-->
                <!--<span class="fa fa-eye"></span>-->
                <!--<span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>-->
                <!--</button>-->
                <!--<button type="submit"-->
                <!--[routerLink]="['/', { outlets: { popup: 'tache/'+ tache.id + '/edit'} }]"-->
                <!--replaceUrl="true"-->
                <!--class="btn btn-primary btn-sm">-->
                <!--<span class="fa fa-pencil"></span>-->
                <!--<span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>-->
                <!--</button>-->
                <!--<button type="submit"-->
                <!--[routerLink]="['/', { outlets: { popup: 'tache/'+ tache.id + '/delete'} }]"-->
                <!--replaceUrl="true"-->
                <!--class="btn btn-danger btn-sm">-->
                <!--<span class="fa fa-remove"></span>-->
                <!--<span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>-->
                <!--</button>-->
                <!--</div>-->
                <!--</td>-->
            </tr>
            <tr *ngFor="let getAllIngeNoAttrib of getAllIngeNoAttribs ;let i of index" class="colorationLigne">
                <td class="center">{{getAllIngeNoAttrib}}</td>
                <td class="center"><input type="text" class="center" value="26" readonly></td>
                <td class="center"><input type="text" class="center" value="30" readonly></td>
                <td class="center"><input type="text" class="center" value="31" readonly></td>
                <td class="center"><button type="button" class="btn btn-outline-success">Consulter planning</button></td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
