<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="unit3" transaction-type="RESOURCE_LOCAL">
	<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <!-- non-jta-datasource>jdbc/progesto</non-jta-datasource -->
        <properties>
           <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQL9Dialect"/>
           <property name="hibernate.cache.use_second_level_cache" value="true"/>
           <property name="hibernate.cache.use_query_cache" value="false"/>
           <property name="hibernate.show_sql" value="true"/>
           <property name="hibernate.format_sql" value="true"/>
           <property name="hibernate.use_sql_comments" value="false"/>
           <property name="hibernate.generate_statistics" value="true"/>
           <property name="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory"/>
           <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/progesto"/>
           <property name="javax.persistence.jdbc.user" value="progesto"/>
           <property name="javax.persistence.jdbc.password" value="progesto"/>
           <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
           <property name="hibernate.ejb.naming_strategy" value="org.springframework.boot.orm.jpa.hibernate.SpringNamingStrategy"/>
           <property name="hibernate.ddl-auto" value="none"/>
        </properties>
	</persistence-unit>
    <persistence-unit name="persistenceUnit"/>
</persistence>
