td:first-child {
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableauAjusteProjet{
        max-width: 250px;
    }

/*.tableauAjusteProjetParTache{*/
    /*max-width: 20px;*/
/*}*/
/*.table{*/
    /*width: 100%;*/
/*}*/

th, td {
    font-weight:bold;
    /*padding:5px;*/
    /*width:120px;*/
    /*vertical-align:top;*/
}
th {
    background:#c7e0f2;
}
tr + tr th, tbody th {
    background:#DAEEF3;
}
tr + tr, tbody {
    /*text-align:left*/
}
table, th, td {
    /*border:solid 1px;*/
    /*border-collapse:collapse;*/
    /*table-layout:fixed;*/
}

input {
    width: 145px;
}

.center {
    text-align: center;
}

#avantVente{
    background-color: #B6FFB5;
}

#realisation{
    background-color: #FFEFD3;
}

#retard{
    background-color: #FFDCDC;
}

#resteAttribuer{
    background-color: #FCFFC9;
}









#t1 {width: 220px;height: 45px;padding-top: 10px;position: relative;color: white;margin-left: 0; line-height:34px;font-size: 13px;text-align: center;text-transform: uppercase;
    background: #7db9e8;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #7db9e8 0%, #2989d8 41%, #1e5799 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7db9e8), color-stop(41%,#2989d8), color-stop(100%,#1e5799));
    background: -webkit-linear-gradient(left,  #7db9e8 0%,#2989d8 41%,#1e5799 100%);
    background: -o-linear-gradient(left,  #7db9e8 0%,#2989d8 41%,#1e5799 100%);
    background: -ms-linear-gradient(left,  #7db9e8 0%,#2989d8 41%,#1e5799 100%);
    background: linear-gradient(to right,  #7db9e8 0%,#2989d8 41%,#1e5799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 );

}
#t1:after {content: "";position: absolute;width: 0;height: 0;left: 220px; top:0;
    border-top: 28px solid transparent;
    border-left: 16px solid #1e5799;
    border-bottom: 27px solid transparent;
}

